<div class="container">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center register">
    <div class="registrationform">
      <h1 class="page-title">User Registration</h1>
      <form #registerForm="ngForm" class="form-horizontal">
        <fieldset>
        <div class="form-group">
          <div *ngIf="errors.length > 0" class="alert alert-danger">
          <ul *ngFor = "let error of errors">
              <li>{{ error }}</li>
          </ul>
          </div>
          <!-- <label for="username">Username</label> -->
          <div class="col-lg-10" style="padding-top: 15px;">
         <input type="text"
                 class="form-control"
                 [(ngModel)] = "formData.username"
                 name="username"
                 #username = "ngModel"
                 placeholder="Enter UserName"
                 required>
                </div>
        </div>
        <div *ngIf="username.invalid && (username.dirty || username.touched)"
          class="alert alert-danger">
          <div *ngIf="username.errors.required">
            Username is required
          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-10" style="padding-top: 15px;">
          <input type="email"
                 class="form-control"
                 [(ngModel)] = "formData.email"
                 name="email"
                 #email = "ngModel"
                 placeholder="Enter Email"
                 required>
              </div>
        </div>
        <div *ngIf="email.invalid && (email.dirty || email.touched)"
          class="alert alert-danger">
          <div *ngIf="email.errors.required">
            Email is required
          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-10" style="padding-top: 15px;">
          <input type="password"
                 class="form-control"
                 [(ngModel)] = "formData.password"
                 #password = "ngModel"
                 name="password"
                 placeholder="Enter Password"
                 required>
          </div>
        </div>
        <div *ngIf="password.invalid && (password.dirty || password.touched)"
          class="alert alert-danger">
          <div *ngIf="password.errors.required">
            Password is required
          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-10" style="padding-top: 15px;">
          <input type="password"
                 class="form-control"
                 [(ngModel)] = "formData.passwordConfirmation"
                 #passwordConfirmation = "ngModel"
                 name="passwordConfirmation"
                 placeholder="Confirm Password"
                 required>
          </div>
        </div>
         <div *ngIf="passwordConfirmation.invalid && (passwordConfirmation.dirty || passwordConfirmation.touched)"
          class="alert alert-danger">
          <div *ngIf="passwordConfirmation.errors.required">
            Confirm Password is required
          </div>
        </div>
        <div class="col-lg-10 col-lg-offset-2" style="padding-top: 50px; padding-bottom: 20px;">
        <button 
        (click) = "register()"
        type="submit" 
        class="btn btn-warning"
        [disabled] = "!registerForm.form.valid">Register</button>
      </div>
      </fieldset>
      </form>
    </div>
  </div>
</div>