<div class="container">
    <h1 style="text-align: center;padding-top:20px ;">Your Cart</h1>
</div>
<div class="container" style="padding-top:20px;">
    <input class ="btn btn-secondary" type="button" value="CheckOut your order" (click)="checkOut()"/>
    <h2>Total : ${{total}}</h2>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-12 col-lg-12" style="display: flex; padding:10px;">
			<div class="row" *ngFor="let item of items">
				<div class="col-md-12" style="padding-left:50px;padding-right:50px;">
					<div class="card" style="background-color: rgba(205, 240, 80, 0.267);">
                        <h2 style="text-align: center;padding-top:5px">{{item.product.name}}</h2>
                        <img style="max-height: 250px;padding:15px;" class="card-img-top" alt="Bootstrap Thumbnail First" src="{{item.product.image}}" />
						<div class="card-block">
							<p class="card-text" style="padding:0px 15px;text-align: justify;">
								Details: {{item.product.details}}
                            </p>
                            <p class="card-text" style="padding:0px 15px;text-align: justify;">
								Price : ${{item.product.price}}
                            </p>
                            <p class="card-text" style="padding:0px 15px;text-align: justify;">
								Quantity : {{item.quantity}}
                            </p>
                            <p class="card-text" style="padding:0px 15px;text-align: justify;">
								Total : {{item.product.price * item.quantity}}
                            </p>
							<p style="text-align: center;">
                                <!-- <a class="btn btn-primary" [routerLink]="['/cart', { id:product._id }]">Add to Cart</a> -->
                                <a class="btn btn-primary" (click)="remove(item.product._id)">Remove</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>