<div class="container">
    <h1 style="text-align: center;padding-top:20px ;">Our Products</h1>
</div>
<div class="container" style="padding-top:20px;">
<h3>Select Company</h3>
<form [formGroup]="search">
    <div class="form-group col-lg-6">
        <select class="selectpicker dropdown form-control" (change)="searchByCompanyName($event.target.value)" formControlName="company"
            data-live-search="true">
            <option *ngFor="let company of companies" [value]="company._id">{{company.name}}</option>
        </select>
    </div>
</form>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12 col-lg-12" style="display: flex; padding:10px;">
			<div class="row" *ngFor="let product of products">
				<div class="col-md-12" style="padding-left:50px;padding-right:50px;">
					<div class="card" style="background-color: rgba(205, 240, 80, 0.267);">
                        <h2 style="text-align: center;padding-top:5px">{{product.name}}</h2>
                        <img style="max-height: 250px;padding:15px;" class="card-img-top" alt="Bootstrap Thumbnail First" src="{{product.image}}" />
						<div class="card-block">
							<p class="card-text" style="padding:0px 15px;text-align: justify;">
								Details: {{product.details}}
                            </p>
                            <p class="card-text" style="padding:0px 15px;text-align: justify;">
								Price : ${{product.price}}
							</p>
							<p style="text-align: center;">
								<a class="btn btn-primary" [routerLink]="['/cart', { id:product._id }]">Add to Cart</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>