<div *ngIf="notify" class="alert alert-success container marge">
    {{ notify }}
</div>
<div class="container">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center register">
        <div class="registrationform">
            <h1 class="page-title">
                Welcome to Fashioninsta..!!
            </h1>
            <h1>
                Discover the new Shopping experience.
            </h1>
            <hr>
            <p>
                The fashion industry is always looking for the latest trends to soak up, reinterpret, and then relaunch
                in its own way to the rest of the world. This behaviour is also common in web design. So, when the
                worlds
                of fashion and Internet collide, we can expect to see websites that blend together the latest visual and
                technological trends.
            </p>
            <p>
                The main objective of a fashion website is to keep the viewer in the site long enough for them to see
                the latest collection. Some fashion websites have interactive elements and try to transform the visit
                into a sensory experience for the user. In this post we have compiled 50 of the best fashion websites
                you can find on the Internet right now. Fashion is fickle, so their websites can vary from from one
                season to the next, so take a look now, before they're "so last season!"
            </p>
        </div>
    </div>
</div>
